{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block body %}



<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/home/markoter/dev/learning/php/symfony/magazyn2/src/Controller/MainController.php</code></li>
        <li>Your template at <code>/home/markoter/dev/learning/php/symfony/magazyn2/templates/main/index.html.twig</code></li>
        <li>Tu coś napisałem </li>
    </ul>
</div>
{% endblock %}
